.btn-primary {
    background-color: #007bff;
    border: none;
}

    .btn-primary:hover {
        background-color: #0069d9;
    }

.navbar {
    background: linear-gradient(90deg, #007bff 0%, #00b4d8 100%);
}

