.btn-primary {
    background-color: #007bff;
    border: none;
}

    .btn-primary:hover {
        background-color: #0069d9;
    }

.navbar-brand {
    font-size: 1.4rem;
    letter-spacing: -0.5px;
}

.navbar .nav-link {
    font-weight: 500;
}

.dropdown-menu {
    border-radius: 0.5rem;
}


.profile-card {
    border-radius: 15px;
}

.profile-avatar {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
}

.favor-img {
    height: 160px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
    filter: brightness(0.9);
}

