@model Favores_Back_mvc.Models.Usuario

@{
    ViewData["Title"] = "Crear Usuario";
}

<h2>Crear Usuario</h2>
<hr />

<form asp-action="Create">

    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Rol</label>
        <select name="Rol" class="form-select">
            <option value="USER">Ayudar en Favores (USER)</option>
            <option value="ADMIN">Creador de Favores (ADMIN)</option>
        </select>
    </div>

    <div class="mb-3">
        <label asp-for="PasswordHash" class="form-label"></label>
        <input asp-for="PasswordHash" type="password" class="form-control" />
        <span asp-validation-for="PasswordHash" class="text-danger"></span>
    </div>

    <button class="btn btn-primary mt-3">Crear</button>

</form>

<a asp-action="Index">Volver</a>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
